* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  padding-top: 3em;
  width: 400px;
}

#avatar {
  float: left;
  margin-right: 1em;
  width: 80px;
}

h1 a {
  color: #000;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

#card {
  background-color: #eee;
  border: 1px solid #ccc;
  height: 80px;
  padding: 1em;
}

#card p {
  color: #666;
}

#links {
  list-style-type: none;
  margin-top: 3em;
}

#links li {
  margin-top: 1em;
}

#links a {
  background-color: #ccc;
  color: #fff;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  padding: 0.5em 10px;
  width: 380px;
}

#links a:hover {
  text-decoration: underline;
}

#links a.a {
  background-color: #D23A36;
}

#links a.b {
  background-color: #D27E36;
}

#links a.c {
  background-color: #52ADB1;
}

#links a.d {
  background-color: #98CC35;
}

#links a.e {
  background-color: #2B79C2;
}

#links a.f {
  background-color: #FF0686;
}

#links a div {
  float: right;
}

#footer {
  border-top: 1px solid #ccc;
  color: #666;
  font-size: 12px;
  margin-top: 3em;
  padding-top: 1em;
}

