/* change border colour to suit your needs */
div#hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
    max-width: 450px;
    margin: 30px auto;
    padding: 0 15px;
    font-family: "adelle", sans-serif;
    font-size: 17px;
    color: #4E555D;
    text-align:left;
    overflow:hidden
}
p.aligncenter{
    text-align: center;
	margin: 40px auto;
}
div#header {
    font-size: 30pt;
    line-height: 40px;
    margin: 20px 0;
}
nav p {
    margin: 7px 0;
}
a {
    color: #5284B2;
    text-decoration: none;
}