body {
  text-align: center;
  font-size: 14pt;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'museo-slab', serif;
}

#slant {
  text-align: left;
  margin: 20% 0 0 20%;
}

h1 {
  margin-bottom: 7pt;
  font-family: 'museo-slab';
  font-size: 16pt;
  font-weight: normal;
  text-transform: uppercase;
}

a {
  color: #AAA;
  display: block;
  text-decoration: none;
  margin: 0 20px 5px 0;
}

a:hover {
  color: #268bd2;
}
